# Игнорируем тяжелые файлы программ и твиков
software/
tweaks/

# Кеш извлечённых иконок (генерируется при запуске)
icons/cache/

# Игнорируем логи и временные базы
*.log
MInstAll/

# Игнорируем папки компиляции PyInstaller
build/
dist/
*.spec

# Игнорируем кэш Python и виртуальные окружения
__pycache__/
*.pyc
venv_x86/
venv_x64/
venv/